е/*header*/
.logo{
  width: 130px;
  padding-top: 14px;
}
nav{
    height: 94px;
    line-height: 94px;
}
.menu{
  list-style-type: none;
}
.menu li{
  display: inline-block;
  padding: 0 30px;
}
.menu li a{
  color: #255953;
  text-transform: uppercase;
  font-family: 'RalewayBold',sans-serif;
}
.menu li a:hover,
.menu li a:focus{
  text-decoration: none;
  color: #45a69a;
}
.top_line{
  height: 1px;
  background-color: #45a69a;
}

.img-30px{
  height: 30px;
  width: 30px;
}
.content-post{
  margin-top: 30px;
}
.title_block{
  color: #255953;
  text-align: center;
}
.img-post{

}
